// Colors

$gray-1: #fafafb;
$gray-2: #f5f5f8;
$gray-3: #f1f1f5;
$gray-4: #e5e5ed;
$gray-5: #92929d;
$gray-6: #696974;

$dark: #171725;

$green: #9c6;
$red: #ff4d4d;

// Breakpoints
$tablet: 1080px;
$mobile: 768px;
